*~
*.bak
*.o
*.a
*.log
*.zip
*.gz
*.bz2
*.xz
*.7z
*.Z
*.bdf
*.ttf
*.elf
*.k
GPATH
GRTAGS
GSYMS
GTAGS
MMC.DAT
.depend
config.mk
extlibs/faad2/faad2-2.7
extlibs/fatfs/LICENSE.txt
extlibs/fatfs/documents
extlibs/fatfs/source
extlibs/libmad/libmad-*
extlibs/libpng/libpng-*
extlibs/lwip/lwip-*
extlibs/mt19937ar/mt19937ar.c
extlibs/mt19937ar/random.c
extlibs/picojpeg/picojpeg-master
extlibs/zlib/zlib-*
fontdata/*/*.c
fontdata/genshingothic/*.txt
fontdata/misaki/*.txt
fontdata/knj10/knj10-*
fontdata/m+/mplus-*
tools/iso-2022-jp-2004-std.txt
tools/bdf2fontc
tools/bmp2txt
tools/iso2022_unicode_tbl.c
tools/txt2bitmap
tools/txt2fontc
buildalltest.sh
gadgetseed
gs-*
gs_logo.c
gs_logo.txt
targetconfig.mk
include/asm.h
include/sysconfig.h
mkbuildtest.sh
version.c
